body {
    margin: 0;
    background: #1D3B58;
    font-weight: 300;
}

/* inputting font from google */
*, *::before, *::after{
    font-family: 'Poppins', sans-serif;
}

/* to make it easier to read */
p { font-size:large; }

.container {
    width: 80%;
    margin: 0 auto;
} 

/* for the navigation bar only */
.container1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
} 

header {
    background: #B4F8C8;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
} 

label.logo{
    color: #444;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 80px;
    font-weight: bold;

}

/* nav bar stuff */
nav ul {
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 13px;
    border-radius: 3px;
}
/* nav button animations */
nav a:hover {
    color: #ffffff;
}

a.active,a:hover{
    background: #0A4C86;
    transition: .5s
}

/* header image styling this is for the home page*/
.top-header {
    width: 100;
    background-image: url(images/header3.png);
    background-size: cover;
    background-position: center;
    height: 280px;
    padding-top: 100px;
}
    /* header title styling*/
.top-header > h1 { 
	color: white; 
    font-family: sans-serif;
	background-color: rgba(0,0,0,0.5);
    justify-content: center;
    text-align: center;
    padding-top:100%;
    padding: 2em 1em;
    margin-left: 2em;
    margin-right: 2em;
} 
/* this is for the about page changed the image */
.top-header-about {
    width: 100;
    background-image: url(images/flower.png);
    background-size: cover;
    background-position: center;
    height: 280px;
    padding-top: 100px;
}
  
/* setting up the cards to be only in a column */
.card-single {
    display: column;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
    gap: 3rem;
    align-items: flex-start;
}
/* setting up the cards to be in a grid format */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
    gap: 1rem;
    align-items: flex-start;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .card-single {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Responsive columns */
@media screen and (max-width: 600px) {
    .card-grid {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #d4f1ff;
    border-radius:1rem;
    border: none;
  }

.card-header {
    font-size:1.5rem;
    text-align: center;
    margin-bottom:.5rem;
    font-weight: bold;
}

.card-header.card-image {
    overflow: hidden;
}
.card-header.card-image > img {
    display:block;
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card-body {
    font-size: 1rem;
}

.card-body ul {
    font-size: 1rem;
}

.card-footer {
    margin-top:1rem;
}

/* button tag */
.btn {
    text-align: center;
    background:#B4F8C8;
    border: none;
    color:#444;
    font-size: 25px;
    padding: .5em .75em;
    border-radius:1em;
    cursor:pointer;
}

.btn:hover, .btn:focus {
    background:#0A4C86;
    transition: .5s;
    color: #ffffff;
}

.btn.btn-outline {
    background: none;
    border: 1px solid #B4F8C8;
}

.btn.btn-outline:hover,.btn.btn-outline:focus {
    background:#0A4C86;
    opacity: 90%;
}

.btn + .btn {
    margin-left: 0.5rem;
}

/* styling the table */
table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #ffffff;
}
th, td {
    border: 2px solid black;
    padding: 10px;
}

/* for the iframe map */
  .map-container {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    /* Add a border and shadow to the container */
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }

 /* stlying the footer tag */
 footer {
    text-align: center;
    padding: 3px;
    background-color: #0A4C86;
    color: white;
  }

/* styling the forms */
  .card1 {
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #ffffff;
    border-radius:1rem;
    border: none;
    font-size: large;
    width: 80%;
    margin: 0 auto;
  }

  input[type=text] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  textarea[id=message] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=email] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* styling the error messages */
  .input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}
/* error mesage */
.input-control .error {
    color: #ff3860;
    font-size: small;
}

